.basicPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.196);
  color: rgb(159, 159, 159);
}
.basicPage a {
  text-decoration: none;
  /* color: black; */
  color: rgba(141, 2, 195, 0.861);
  font-weight: bold;
}

.basicPage a:hover {
  color: blueviolet;
  font-size: large;
}
